<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fossil_sensor_app_testing"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

<!--        <service android:name=".MainActivity"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:exported="true"-->
<!--            tools:ignore="Instantiatable" />-->

<!--        <service android:name=".MyJobService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:exported="true"/>-->

<!--        <service-->
<!--            android:name=".MyJobService"-->
<!--            android:exported="false"/>-->


        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="intent.my.action" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyJobService"></service>

    </application>

</manifest>